@import url("https://use.typekit.net/bdz8usb.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

body,
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.menu-modal,
.nasalization {
  font-family: nasalization, sans-serif !important;
  font-style: normal;
}
